<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Info</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <style>
        body {
            font-family: 'Arial', sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f9f9f9;
        }

        .content {
            max-width: 600px;
            margin: 50px auto;
            background-color: #fff;
            padding: 30px;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }

        h1 {
            font-size: 28px;
            color: #333;
            text-align: center;
            margin-bottom: 20px;
        }

        p {
            font-size: 16px;
            color: #555;
            line-height: 1.6;
            margin-bottom: 20px;
        }

        ul {
            list-style: none;
            padding: 0;
            margin-bottom: 20px;
        }

        li {
            font-size: 16px;
            color: #333;
            margin-bottom: 10px;
        }

        li::before {
            content: "\2022"; /* Add a bullet point before each list item */
            color: #333;
            display: inline-block;
            width: 1em;
            margin-left: -1em;
            margin-right: 8px;
        }

        img {
            display: block;
            margin: 0 auto;
            max-width: 100%;
            height: auto;
            border-radius: 8px;
            margin-bottom: 20px;
        }
    </style>
</head>

<body>

    <%- include('./partials/navbar.ejs') %>

    <div class="container">
        <div class="content">
            <img src="<%= anime.imagelink %>" class="img-fluid" alt="Anime Image">
            <h1>Name: <%= anime.romaji_title %> / <%= anime.english_title %></h1>
            <p><%= anime.description %></p>
            <ul class="list-unstyled">
                <li><strong>Status:</strong> <%= anime.status %></li>
                <li><strong>Season:</strong> <%= anime.season %></li>
                <li><strong>Total episodes:</strong> <%= anime.episodes %></li>
                <li><strong>Duration per episode:</strong> <%= anime.duration %></li>
                <li><strong>Start date:</strong> <%= anime.start_date %></li>
                <li><strong>End date:</strong> <%= anime.end_date %></li>
                <li><strong>Price: </strong> <%= anime.price %></li>
                <li><strong>Studios:</strong></li>

                <% for(var i = 0; i < studiolist.length; i++){ %>
                <a href="/studio/individual/<%= studiolist[i].id %>" class="btn btn-primary"><%= studiolist[i].name %></a>
                <% } %>
            </ul>
            
            <% if (isBookmarked == false && isPurchased == false) { %>
                <form action="/bookmark_anime/<%= anime.id %>" method="GET">
                    <button type="submit" class="btn btn-danger">Bookmark</button>
                </form>
            <% } else if(isBookmarked == true && isPurchased == false){ %>
                <label class="text-primary">Bookmarked</label>
            <% } else if(isBookmarked == false && isPurchased == true){%>
                <label class="text-success">Purchased</label>
            <% } %>
        </div>
    </div>
    
    

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

</body>

</html>
